body {
background: black;
}

#headline {
	font-family: gotham;
	font-size: 60px;
	color: blue;
	text-align: left;
	color: white;
	margin: 20px;
}

#projects {
	font-family: 'Abril Fatface', cursive;
	font-size: 30px;
	color: #65083A;
	text-align: left;
	color: white;
	margin: 20px;
}

a:link {
	color: #065D6E;
	text-decoration: none;
}

a:visited {
	color: #570732;
}

a:hover {
	color: black;
}


