body {
	background-repeat: no-repeat;

}

#headline {
	font-family: anton;
	font-size: 60px;
	color: blue;
	text-align: left;
	color: black;
	margin: 20px;
	text-align: center;
}

#projects {
	font-family: quicksand;
	font-size: 30px;
	color: #1ac5f3;
	text-align: left;
	margin: 20px;
	text-align: center;
	background-color: white;
	width:300px;
	margin-left: 240px;
	padding: 3px;
}


a:link {
	color: #1ac5f3;
	text-decoration: none;
}

a:visited {
	color: #1ac5f3;
}

a:hover {
	color: black;
}


