body {
background: black;
}

h1{
	font-family: gotham;
	font-size: 80px;
	color: #65083A;
	text-align: left;
	color: white;
	margin: 20px;
}

a:link {
	color: #065D6E;
	text-decoration: none;
}

a:visited {
	color: #570732;
}

a:hover {
	color: black;
}


