body {
	background: #A5FCFD;
}


@font-face {
	font-family: 'seafont';
	src: url("seafont.ttf");
}



.box1 {
	background: #2695AD;
	color: white;
	font-size: 80px;
	width: 400px;
	height: 200px;
	font-family: seafont;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}

.box2 {
	background: #093640;
	color: white;
	font-size: 160px;
	width: 400px;
	height: 200px;
	font-family: seafont;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}