#container {
width: 800px;
height: 1000px;
margin: auto;
}

#bar1 {

	width: 790px;
	height: 100px;
	background: purple;

}

#bar2 {

	width: 790px;
	height: 30px;
	background: purple;
	margin-top: 5px;
}

#column1 {

	width: 260px;
	height: 600px;
	background: purple;
	margin: auto;
	margin-top: 5px;
	float: left;

}

#column2 {

	width: 260px;
	height: 600px;
	background: purple;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	}

#column3 {

	width: 260px;
	height: 600px;
	background: purple;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	}

#bar3 {

	width: 790px;
	height: 100px;
	background: purple;
	float: left;
	margin-top: 5px;

}
